$teal: #64d2ff;
$tealHover: #5ac8fa;

$green: #32d74b;
$greenHover: #34c759;

$blue: #0a84ff;
$blueHover: #007aff;

$indigo: #5e5ce6;
$indigoHover: #5856d6;

$purple: #bf5af2;
$purpleHover: #af52de;

$pink: #ff375f;
$pinkHover: #ff2d55;

$yellow: #ffd60a;
$yellowHover: #ffcc00;

$orange: #ff9f0a;
$orangeHover: #ff9500;

$red: #ff453a;
$redHover: #ff3b30;

$grey1: #8e8e93;
$greyLight2: #aeaeb2;
$greyLight3: #c7c7cc;
$greyLight4: #d1d1d6;
$greyLight5: #e5e5ea;
$greyLight6: #f2f2f7;

$greyDark2: #636366;
$greyDark3: #48484a;
$greyDark4: #3a3a3c;
$greyDark5: #2c2c2e;
$greyDark6: #1c1c1e;

$backgroundLightPrimary: #ffffff;
$backgroundLightSecondary: #efeff4;
$backgroundLightTertiary: #ffffff;

$backgroundBasePrimary: #000000;
$backgroundBaseSecondary: #1c1c1e;
$backgroundBaseTertiary: #2c2c2e;

$backgroundElevatedPrimary: #1c1c1e;
$backgroundElevatedSecondary: #2c2c2e;
$backgroundElevatedTertiary: #3a3a3c;

$labelColorLight1: #000000;
$labelColorLight2: rgba(60, 60, 67, 0.6);
$labelColorLight3: rgba(60, 60, 67, 0.3);
$labelColorLight4: rgba(60, 60, 67, 0.18);

$labelColorDark1: #ffffff;
$labelColorDark2: rgba(235, 235, 245, 0.6);
$labelColorDark3: rgba(235, 235, 245, 0.3);
$labelColorDark4: rgba(235, 235, 245, 0.18);
